* {
    font-family: 'Roboto', sans-serif;
}

/* Give entire document flex property */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */

.header, .footer {
    background-color: #1f2937;
}
/* Making one property to chkange the text to a certain color */
a, .footer, .hero-section, button {
    color: #f9faf8;
}
/* Adjusts the padding of the text in various sections of document */
.header {
    padding: 0 300px;
}

.left-links {
    font-size: 20px;
    font-weight: bold;
}

.right-links, .hero-left p {
    font-size: 18px;
}

/* removes bullet points and adjusts spacing between left link and right links */
ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding: 0;
}

/* removes underline/changes text color */
a {
  text-decoration: none;
}

/* puts display to flex to get links in a row instead of column */
.left-links, .right-links {
    display: flex;
    gap: 20px;
    padding: 0;
  }

/* HERO SECTION */

.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
}

h1 {
    font-size: 48px;
    font: 700;
    padding: 0;
    margin-bottom: 0;
}

.hero-left p {
    margin: 0 0 10px 0;
}

button {
    background-color: #3882f6;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: none;
}

img {
    height: 300px;
}

/* TESTIMONIAL SECTION */

/* QUOTE SECTION */

/* ACTION SECTION */

/* FOOTER */
