body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* navbar */

.header-container {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 0 10rem;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}

.nav-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #f9faf8;
    list-style-type: none;
    text-decoration: none;
}

/* hero */

.hero-content {
    color: #f9faf8;
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    margin: 5rem 0;
    gap: 5rem;
}

.hero-image {
    width: auto;
    height: 250px;
    border: solid white 1px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
}

.hero-button {
    width: 8rem;
    height: 2.5rem;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
}

/* Testimonial */

.character-image {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border: solid #3882f6 .3rem;
    border-radius: 1rem;
}

.testimony-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.testimonial-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.testimony-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.testimony {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.character-quote {
    display: flex;
    text-wrap: pretty;
    width: 10rem;
    color: #1f2937;
}

/* quote */

.quote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    gap: 1rem;
    padding: 10rem 27.5rem;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author-container {
    display: flex;
    margin: 0 3rem 0 auto;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
}